{% extends 'base_2column.html' %}

{% block title %}
{{ super() }} &gt; labels
{% endblock title %}

{% block style %}
{{ super() }}
<style type="text/css">
.leftColumn {
  width: 20%;
}

.rightColumn {
  width: 80%;
}

#currentLabelContainer {
  padding: 1rem;
}

#imagesContainer .image {
  max-width: 33%;
  max-height: 33vh;
  margin: 1px;
  vertical-align: top;
}
</style>
{% endblock style %}

{% block left_column %}
<h1>{{ self.title() }}</h1>
<p><a id=linkToPhotosPage href="{{ url_for('view_photos') }}">&lt;&lt; photos</a></p>

<p><button id=createLabelButton>&gt; create</button></p>

<ul class=list></ul>

<div id=createLabelModal class="modal hidden">
  <p>&gt; create label</p>
  <p><input id=labelInput type=text/></p>
  <p><a id=closeCreateLabelModal href=javascript:void(0)>&lt;&lt; close</a></p>
</div>
{% endblock left_column %}

{% block right_column %}
<div id=currentLabelContainer>
  <div id=imagesContainer>
  </div>
</div>
{% endblock right_column %}

{% block script %}
<script src="{{ url_for('static', filename='labels_app.js') }}"></script>
{% endblock script %}
