{% extends 'base_2column.html' %}

{% block title %}
{{ super() }} &gt; photos
{% endblock title %}

{% block style %}
{{ super() }}
<style type="text/css">
.photoPreviewContainer {
  height: 60%;
  text-align: center;
}

.photoImage {
  width: 90%;
  max-height: 90%;
  object-fit: contain;
}
</style>
{% endblock style %}

{% block left_column %}
<h1>{{ self.title() }}</h1>
<p><a href="{{ url_for('view_index') }}">&lt;&lt; back</a></p>

<ul id=photoList></ul>
{% endblock left_column %}

{% block right_column %}
<div class=photoPreviewContainer>
  <img class=photoImage src=""/>
</div>
{% endblock right_column %}

{% block script %}
<script src="{{ url_for('static', filename='photos_app.js') }}"></script>
{% endblock script %}
