{% extends 'base_2column.html' %}

{% block title %}
{{ super() }} &gt; photos
{% endblock title %}

{% block style %}
{{ super() }}
<style type="text/css">
.thumbnail {
  height: 60px;
}

#currentPhotoContainer {
  height: 100%;
  padding: 1rem;
}

.imageContainer {
  height: 80%;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.detailsContainer {
  margin-top: 1rem;
  text-align: center;
}

.labelsContainer {
  margin-top: 1rem;
}

.photoLabelLink:not(:first-child) {
  margin-left: .25rem;
}
</style>
{% endblock style %}

{% block left_column %}
<h1>{{ self.title() }}</h1>
<p><a id=linkToLabelsPage href="{{ url_for('view_labels') }}">&lt;&lt; labels</a></p>

<ul class=list></ul>
{% endblock left_column %}

{% block right_column %}
<div id=currentPhotoContainer>

  <div class=imageContainer>
    <img id=image src=""/>
  </div>

  <div class=detailsContainer>

    <div class=descriptionContainer>
      <span id=description></span>
    </div>

    <div class=dateContainer>
      <span id=date></span>
    </div>

    <div id=labelsContainer>
      <p><span id=labels></span></p>
      <button id=addLabelButton>add</button>
    </div>

  </div>
</div>

<div id=addLabelModal class="modal hidden">
  <p>&gt; add label</p>
  <p><select id=labelPicker></select></p>
  <p><a id=closeAddLabelModal href=#>&lt;&lt; close</a></p>
</div>

<div id=removeLabelModal class="modal hidden">
  <p>&gt; remove label</p>
  <p><a id=confirmLabelRemove href=#>&gt; remove [<span id=labelToRemove></span>]</a></p>
  <p><a id=closeAddLabelModal href=#>&lt;&lt; close</a></p>
</div>
{% endblock right_column %}

{% block script %}
<script src="{{ url_for('static', filename='photos_app.js') }}"></script>
{% endblock script %}
